$marvel-black: #000000;
$marvel-red: #F0141E;
$background: #1A1A1A;
$background2: #FFFFFF;
$text1: rgb(255, 255, 255);
$text1-inactive: rgb(181, 181, 181);
$text2: rgb(13, 13, 13);
$text2-active: #F0141E;